using Newtonsoft.Json;

namespace {{NamespaceName}}
{
    {{AccessModifier}} class {{ClassName}}
    {
        {{#ColumnsData}}
        [JsonProperty("{{NameInModel}}")]
        public {{TypeInClass}} {{NameInClass}} { get; set; }
        {{/ColumnsData}}
    }
}
